<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HttpMachine.PCL" version="1.0.3" targetFramework="portable45-net45+win8" />
  <package id="Rx-Core" version="2.2.5" targetFramework="portable45-net45+win8" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="portable45-net45+win8" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="portable45-net45+win8" />
  <package id="Rx-Main" version="2.2.5" targetFramework="portable45-net45+win8" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="portable45-net45+win8" />
  <package id="SimpleHttpListener" version="1.0.19" targetFramework="portable45-net45+win8" />
  <package id="SocketLite.PCL" version="1.0.9" targetFramework="portable45-net45+win8" />
</packages>